.container {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
  text-align: center;
}

.addUserForm{
  width: 250px;
}

.user{
  width: 300px;
  border: 1px solid grey;
  margin: 2px;
  padding: 2px;
}

h2{
  font-size: large;
  margin: 0;
}

label{
  width: 100%;
}

input{
  width: 100%;
  height: 30px;
}

.addUser{
  margin-bottom: 20px;
}

button{
  background-color: rgb(104, 104, 104);
  display:inline-block;
  padding:0.5em 3em;
  border:0.16em solid #FFFFFF;
  margin:1em 0.3em 0.3em 0;
  box-sizing: border-box;
  text-decoration:none;
  text-transform:uppercase;
  font-family:'Roboto',sans-serif;
  font-weight:400;
  color:#FFFFFF;
  text-align:center;
  transition: all 0.15s;
}
button:hover{
  color:#DDDDDD;
  border-color:#DDDDDD;
}
button:active{
  color:#BBBBBB;
  border-color:#BBBBBB;
}