.container {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
  text-align: center;
}

.card{
  background-color: #37393d;
  width: 400px;
  border: 1px solid grey;
  margin: 0 auto;
  padding: 20px 30px;
  border-radius: 5px;
  margin-bottom: 30px;
}

h2{
  font-size: large;
  margin: 0;
}

.card label{
  display: inline-block;
  font-size: 20px;
  font-weight: bold;
  margin-bottom: 5px;
}

.card input{
  width: 100%;
  border-radius: 2px;
  border: 1px solid grey;
  margin-bottom: 15px;
  height: 40px;
  font-size: 24px;
}

button{
  background-color: rgb(104, 104, 104);
  display:inline-block;
  padding:0.5em 3em;
  border:0.16em solid #FFFFFF;
  margin:1em 0.3em 0.3em 0;
  box-sizing: border-box;
  text-decoration:none;
  text-transform:uppercase;
  font-family:'Roboto',sans-serif;
  font-weight:400;
  color:#FFFFFF;
  text-align:center;
  transition: all 0.15s;
}
button:hover{
  color:#DDDDDD;
  border-color:#DDDDDD;
}
button:active{
  color:#BBBBBB;
  border-color:#BBBBBB;
}